/*MY RESET CSS*/

*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-style: inherit;
}

html, body {
   height: 100%;
   line-height: 1;
   font-size: 14px;
   /* background-color: #333; */
   /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
   
}

/*  -------------------  */

@font-face {
	font-family: Myriad-pro;
	src: url('font/MYRIADPRO-REGULAR.OTF');
}

:root {
    --error-color: #ce1313;
}

.header {
    box-shadow: 0 0 5px 1px rgb(221 221 221);
}

.header__container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.header__label a {
    /* font-weight: 800; */
    font-size: 25px;
    color: #353535;
}

.header__registation {
    font-weight: 600;
    font-size: 20px;
}

.main__block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.main__wrap {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: Myriad-pro;
    
}

.main__block-register_form {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 250px;
    box-shadow: 0 0 5px 1px rgb(221 221 221);
}



.form__body {
    flex:60%;
}

.main__block-register_img {
    flex: 40%;
}

#form * {
    outline: none;
}

form h2 {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin: 60px 0;
}

.form__peron-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.form__peron-item,
.form__adress-item {
    position: relative;
}
.form__peron-item label,
.form__adress-item label,
.form__confidentiality label {
    width: 80%;
}
.form__peron-item input,
.form__adress-item select,
.form__device input,
.form__device select,
.form__adress-item input {
    width: 80%;
}


.form__peron-item small,
.form__adress-item small,
.form__device-item small {
    position: absolute;
    color: var(--error-color);
    bottom: -15px;
    visibility: hidden;
    
}


.form__device-item._error .form__device-small {
/* .form__device-item._error.form__device-small { */
    bottom: -24px;
}

.form__peron-item._error small,
.form__adress-item._error small,
.form__device-item._error small,
.form__device-info._error small {
    visibility: visible;
}

.form__peron-input._error,
.form__adress-input._error,
.form__adress.select._error,
.form__device.select._error,
.form__device-input._error,
.form__device-info._error {
    box-shadow: 1px 1px 3px #cc3411;
}

/* , */
/* .form__device-item._error */



.form__peron-label,
.form__adress-label,
.form__device-label,
.form__confidentiality p,
.form__label,
.formAgreementRules
{
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    /* max-width: 80%; */
}

.form__peron-input,
.form__adress-input,
.form__device-input,
 .select {
    border: 1px solid #edb112;
    border-radius: 3px;
    padding: 7px;
    margin-bottom: 25px;
    /* width: 80%; */
}

input:focus {
    box-shadow: 2px 2px 18px #92756ea1;
}

.form__item p {
    margin-bottom: 30px;
    margin-right: 15px;
}
.form__item.agreement {
    display: flex;
    align-items: flex-start;
}


.checkbox__label { 
    /* font-size: 16px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer; */
}


/* .checkbox__input { 
    display: none;
}

.checkbox__label {
    
    margin-bottom: 15px;
    font-size: 18px;
    max-width: 80%;
    position: relative;
    line-height: 120%;
}


.checkbox__label::before {
    content: "";
    position: absolute;
    flex: 0 0 24px;
    height: 24px;
    line-height: 120%;
    background-color: aquamarine;
}



.checkbox__label { 
    
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox__label::before {
    content: '';
    align-self: flex-start;
    flex: 0 0 24px;
    height: 24px;
    margin: 0 10px 0 0;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
} */


/*  */


.checkbox__input { 
    display: none;
}

.checkbox._error .checkbox__label::before   {
    box-shadow: 2px 2px 18px #ce1313;
}

.checkbox__input:checked + .checkbox__label::before  {
    /* transform: scale(0);
    opacity: 0; */
}
/* .checkbox__label::before + .checkbox__input:checked {
     transform: scale(0); 
} */

.checkbox__label { 
    /* position: relative; */
    /* font-size: 16px; */
    /* line-height: 140%; */
    /* color: red;
    display: inline-flex;
    align-items: center;
    cursor: pointer; */
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.checkbox__label::before {
    /* content: '';
    height: 24px;
    background-color: rgb(27, 88, 240);
    flex: 0 0 24px;
    margin: 0 10px 0 0; */


    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #cbcac9;
   /* 
   align-self: flex-start;
  
    
    
    
    border-radius: 4px;
     */
}

.checkbox__label::before {
    /* content: 'X';
    position: absolute;
    background-color: #bb855c;
    width: 16px;
    height: 16px;
    top:5px;
    right: 4px;
    opacity: 1;
    transition: .3s all;
    transform: scale(1);  */
  
}


input[type="checkbox"]:checked + label::after {
    content: "X";
    position: absolute;
    color: #edb112;
    border: 1px solid #edb112;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 0px;
    top: 0px;
    width: 17px;
    height: 16px;
    line-height: 14px;
}

.checkbox__block {
    display: flex;
}

.checkbox__block p {
   margin-bottom: 0;
   margin-right: 15px;
}

.options {
    display: flex;
}

.options__item + .options__item {
    margin-left: 20px;
}

.options__item input[type="radio"] {
    display: none;
}

.options__item label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.options__item input[type="radio"]:checked + label:before {
    content: "X";
    color: #edb112;
    border: 1px solid #edb112;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options__item label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    border: 1px solid #cbcac9;
}








.form__device-serial {

}

.form__device-examp {
    display: none;
}

.form__device-item {
    position: relative;
}
 /* .serial__code::after {
    content: 'i';
    width: 15px;
    height: 16px;
background-color:#ce1313;
    position: absolute;
    color: #ce1313;
display: flex;
    align-items: center;
    justify-content: center;
    top: 66px;
    right: 72px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    border: 1px solid #edb112;
    color: #edb112;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
} */


.serial__code  {
    /* position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 66px;
    right: 72px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    border: 1px solid #edb112;
    color: #edb112;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease 0s; */
}

.form__device-info {
    /* display: inline-block; */
    width: 80%;
    position: relative;
}
.form__device-info input {
    /* display: inline-block; */
    width: 100%;
}

.form__device-info .span-hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6px;
    right: 6px;
    /* right: 10px; */
    /* right: 10px; */
    width: 20px;
    height: 20px;
    font-size: 16px;
    border: 1px solid #edb112;
    color: #edb112;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.span-hover:hover {
    color: #fff;
    background-color: #edb112;
}


.file__preview { 
    display: inline-block;
    max-width: 100px;
    margin: 10px 0 0 0;
}

.file__preview img {
    max-width: 100%;
}

.file__item {
    width: 80%;
    display: flex;
    /* position: relative; */
    /* margin-bottom: 15px; */
    /* border: 1px solid blue;
    height: 100%; */
}



.file__input {
    position: absolute;
    border: 1px solid #000;
    top: 0;
    left: 0;
    width: 100%;
    height: cacl(100% - 40px);
    font-size: 0;
    opacity: 0;
    background: #cdc;
}

.file__item label {
    border: 1px solid #edb112;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 25px;
    width: 100%;
    color: #cbcac9;
    position: relative; 
    cursor: pointer;
    /*
    */
}

.file__button {
    position: absolute;
    right: 0;
    top: 0;
    color: #353535;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    background-color: #edb112;
    border-radius: 3px;
    padding: 5px 20px;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    max-width: 160px;
}

input[type="file"] {
    /* padding: 20px;
    border: 1px solid #000; */

}

.formImageLabel {
    border: 1px solid gold;
    width: 80%;
}

.formAgreementRules {
    margin-top: 25px;
}

.form__button {
    /* position: relative; */
    margin-top: 25px;
    padding: 10px 30px;
    background-color: gold;
    border-radius: 10px;
    top: 100px;
}




/* select:active,
select:focus, */
select > option:checked,
select > option:first-child,
select::placeholder,
input::placeholder {
    display: none;
    color: #cbcac9;
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
}
